@model CategoryListViewModel
<div class="row">
    <div class="col-md-12">
        <h1>Admin Category</h1>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Url</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Categories.Count > 0)
                {
                    @foreach (var item in Model.Categories)
                    {
                        <tr>
                            <td>@item.CategoryId</td>
                            <td>@item.Name</td>
                            <td>@item.Url</td>
                            <td>
                                <a href="/admin/categories/@item.CategoryId" class="btn btn-primary btn-sm mr-2">Edit</a>@*controller/action/asp-route- eşit bir hreftir*@

                                <form action="/admin/deletecategory" style="display:inline;" method="POST">
                                    <input type="hidden" name="CategoryId" value="@item.CategoryId">
                                    <button type="submit" class="btn btn-danger btn-sm mr-2">Delete</button>
                                </form>

                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning "><h2>Makale yok LA</h2></div>
                }
                }
            </tbody>
        </table>
        <a href="/admin/createCategory" class="btn btn-primary">Add Category</a>
    </div>

</div>