<footer>
    <div id="footer_div" class="row text-dark">
        <div class="col-11 font-weight-bold">
        © 2023 Rehber Ağacı.Her hakkı saklıdır.
       </div>
       <div class="col-1">
            <a href="/"><img src="~/img/instagram.png"></a>
       </div>
   </div>
</footer> 