<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GuideTree</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/utility.css" />
    <link rel="stylesheet" href="~/css/homeStyle.css" />
    <link rel="stylesheet" href="~/css/sharedStyle.css" />
    <link rel="stylesheet" href="~/css/guideStyle.css" />
</head>
<body>

    @await Html.PartialAsync("_navbarGuide")

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

   <script src="~/js/GuideTree.js"></script>
</body>
</html>
