@model SoftwareLangue

<div class="col">
    <a asp-controller="GuideTree" asp-action="LangueDetails" asp-route-langueurl="@Model.Url" id="@Model.SoftwareLangueId" class="btn-prog-second">@Model.Name</a>
</div>