/*ProgrammGuide*/
/*First-Branch*/
#first-branch{
  margin:25px 44.5%;
}
#first-branch div{
    padding:8px 30px;
   font-size:1.2rem;
}
/*Second-Brach*/
#second-branch{
    margin-top:25px;
}
#second-branch a{
    color:black;
    text-decoration:none;
}
#second-branch_div{
    margin:45px ;
}
/*#second-branch_div div {
    display: flex;
    flex-direction: column;
    height: 250px;
}*/
#second-branch_div div a{
    margin:10px 0;
}
#game-amazon{
    display:inline-block;
    margin-left:12px;
}
#warning-branch {
    display: inline-block;
    color: white;
    position: absolute;
    bottom: 80px;
    left: 25px;
    width: 350px;
    word-wrap: break-word;
    background-color: rgb(155, 0, 0);
    border: 1px solid white;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 5px 5px 8px 2px rgb(155, 0, 0);
    box-sizing: border-box;
}
#warning-click {
    display: inline-block;
    color: white;
    position: absolute;
    top:98px;
    left:37%;
    width:75px;
    background-color: rgb(155, 0, 0);
    border: 1px solid white;
    border-radius: 8px;
    padding:5px;
    box-shadow: 5px 5px 8px 2px rgb(155, 0, 0);
    box-sizing: border-box;
    animation:warning-click;
    animation-duration:0.9s;
    animation-iteration-count:infinite;
    animation-timing-function:cubic-bezier(1,1,1,1);
    animation-direction:alternate;
}
@keyframes warning-click{
    to {
       left: 39%;
    }
}
/*Branch Animasyonları*/



