@model SoftwareLangueDetailModel
<div class="cap">


    <div class="detail-top-banner">
    </div>
    <div class="details-top">
        <h1 class="title-bold ml-4">@Model.softwareLangue.Name</h1>
    </div>
    <div class="datail-main">

        <div class="detail-img">
            <img class="card-img" src="~/img/@Model.softwareLangue.ImageUrl">
        </div>

        <div class="detail-body">
            <p>@Model.softwareLangue.Description</p>
        </div>
    </div>
    <div class="detail-right-banner">
    </div>
</div>